*.retry
.DS_Store
*.vib
files/17763.737.190906-2324.rs5_release_svc_refresh_SERVER_EVAL_x64FRE_en-us_1.iso
files/server2019eval.flp
files/VMware-*.ova
files/VMware-*.iso
files/*_DataONTAPv-esx-standalone-eval-nodar.ova




